a,
a:focus,
a:hover {
  color: inherit;
}
a.edit {
  cursor: text;
}
a.edit:hover {
  text-decoration: none;
}
.as-sortable-item-handle {
  cursor: inherit;
}
.as-sortable-placeholder,
.draggable:hover {
  background-color: #eee;
  cursor: move;
}
body {
  padding-top: 50px;
}
.box {
  font-size: 120%;
  padding: 0.5em 0 0.5em 0;
}
.btn {
  white-space: normal;
}
.btn:disabled {
  background-color: transparent;
  border-color: #999;
  color: #999;
}
.btn:disabled:hover {
  background-color: transparent;
  border-color: #f00;
  color: #f00;
}
.button-as-text {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.button-as-text:hover {
  text-decoration: underline;
}
.centre {
  text-align: center;
}
.clickable-row:hover {
  cursor: pointer;
}
.colour1 {
  background-color: #ac7ea9;
  color: #fff;
}
.colour2 {
  background-color: #ac7e83;
  color: #fff;
}
.colour3 {
  background-color: #ac9f7e;
  color: #fff;
}
.colour4 {
  background-color: #93ac7e;
  color: #fff;
}
.colour5 {
  background-color: #7eac8f;
  color: #fff;
}
.colour6 {
  background-color: #7ea3ac;
  color: #fff;
}
.column1 {
  background-color: #999;
  color: #fff;
}
.column2 {
  background-color: #888;
  color: #fff;
}
.column3 {
  background-color: #777;
  color: #fff;
}
.column4 {
  background-color: #666;
  color: #fff;
}
.column5 {
  background-color: #555;
  color: #fff;
}
.column6 {
  background-color: #444;
  color: #fff;
}
div,
p {
  font-family: 'Roboto Condensed', sans-serif;
}
.dropdown-menu > li > a {
  color: #fff;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: inherit;
  color: #fff;
  text-decoration: underline;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  margin-top: 10px;
  border-top: 1px solid #000;
}
footer img {
  width: 10pc;
  height: 10pc;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 130%;
  margin: 0;
}
.i {
  font-style: italic;
}
.input-group-addon.input-group-addon-button {
  padding: 0;
}
.input-group-addon.input-group-addon-button > button {
  background: none;
  border: none;
  padding: 6px 12px;
}
.jumbotron {
  text-align: center;
}
.mono,
.step div,
div.step {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.nav > li > * {
  padding-left: 1em;
  padding-right: 1em;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: inherit;
  text-decoration: underline;
}
.nav.navbar-nav > li.open > a {
  background-color: inherit;
}
.navbar > .container > .navbar-header > a.navbar-brand:focus,
.navbar > .container > .navbar-header > a.navbar-brand:hover {
  text-decoration: underline;
}
.navbar > .container > .navbar-header > button.navbar-toggle {
  margin: 0;
  padding: 13.5px 15px 13px 15px;
}
.navbar-nav > li {
  display: inline-block;
  float: none;
}
.navbar-nav > li > a {
  padding: 13.5px 15px 13px 15px;
}
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.pad {
  padding: 1em;
}
.padb {
  padding-bottom: 1em;
}
.padbt {
  padding-bottom: 1em;
  padding-top: 1em;
}
.padl {
  padding-left: 1em;
}
.padlr {
  padding-left: 1em;
  padding-right: 1em;
}
.padn {
  padding: 0;
}
.padr {
  padding-right: 1em;
}
.padt {
  padding-top: 1em;
}
.quote {
  color: #ccc;
  font-family: fantasy;
}
.quoteperson {
  margin-left: 50px;
}
.right {
  text-align: right;
}
section {
  padding-bottom: 1em;
}
small,
.small {
  color: inherit !important;
}
span.multi-line {
  display: block;
}
span.multi-line:empty:before {
  content: "\200b";
}
.step {
  padding-bottom: 1em;
}
.step-argument-name-table-header .table-cell {
  background-color: #999;
  border: 1px solid #888;
  color: #fff;
}
.step-argument-value-not-supplied {
  color: #c7254e;
}
.step-argument-value-supplied {
  color: #3b7316;
}
.step-argument-value-table-cell {
  border: 1px solid #888;
}
.step-type {
  color: #00f;
}
.table {
  display: table;
  margin-bottom: inherit;
  table-layout: fixed;
  width: 100%;
}
.table > .table-row {
  display: table-row;
}
.table > .table-row > .table-cell {
  display: table-cell;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: top;
}
.toast-success {
  background-color: #ffa500;
}
.toast-top-right {
  top: 70px;
}
.well {
  margin-bottom: 0;
}
.wellb {
  margin-bottom: 1em;
}
