body
    padding 5pc
    font-family Arial
    color #144357

header
    img
        width 15pc
        height auto

footer
    img
        width 20pc
        height auto

.home
    text-align center

h1
    color #3BAA34

ul
    margin 5px

img
    padding-top: 10px
    padding-bottom: 10px