body
    padding 5pc
    font-family Arial
    color #144357

header
    img
        width 10pc
        height auto

footer
    img
        width 10pc
        height auto

h1
    color #3BAA34

ul
    margin 5px