colour1 = #ac7ea9
colour2 = colour1 + 50deg
colour3 = colour2 + 50deg
colour4 = colour3 + 50deg
colour5 = colour4 + 50deg
colour6 = colour5 + 50deg

column1 = #999
column2 = #888
column3 = #777
column4 = #666
column5 = #555
column6 = #444

disabledDefaultColour = #999
disabledHoverColour = #f00

draggableHoverColour = #eee

fontFamily = 'Roboto Condensed', sans-serif

paddingHeader = 13.5px 15px 13px 15px
paddingInputGroupAddon = 6px 12px

spacing = 1em

stepArgumentValueNotSupplied = #c7254e
stepArgumentValueSupplied = #3b7316
stepType = #00f

textColour = #fff

a
a:focus
a:hover
    color inherit

a.edit
    cursor text

a.edit:hover
    text-decoration none

.as-sortable-item-handle
    cursor inherit

.as-sortable-placeholder
.draggable:hover
    background-color draggableHoverColour
    cursor move

body
    padding-top 50px

.box
    font-size 120%
    padding 0.5em 0 0.5em 0

.btn
    white-space normal

    &:disabled
        background-color transparent
        border-color disabledDefaultColour
        color disabledDefaultColour

        &:hover
            background-color transparent
            border-color disabledHoverColour
            color disabledHoverColour

.button-as-text
    background none
    border none 
    cursor pointer
    padding 0

    &:hover
        text-decoration underline

.centre
    text-align center

.clickable-row:hover
    cursor pointer

.colour1
    background-color colour1
    color textColour

.colour2
    background-color colour2
    color textColour

.colour3
    background-color colour3
    color textColour

.colour4
    background-color colour4
    color textColour

.colour5
    background-color colour5
    color textColour

.colour6
    background-color colour6
    color textColour

.column1
    background-color column1
    color textColour

.column2
    background-color column2
    color textColour

.column3
    background-color column3
    color textColour

.column4
    background-color column4
    color textColour

.column5
    background-color column5
    color textColour

.column6
    background-color column6
    color textColour

div
p
    font-family fontFamily

.dropdown-menu > li
    
    > a
        color textColour

    > a:focus
    > a:hover
        background-color inherit
        color textColour
        text-decoration underline

footer
    padding-left 15px
    padding-right 15px

    p
        margin-top 10px
        border-top 1px solid black

    img
        width 10pc
        height 10pc

h1
h2
h3
h4
h5
h6
.h1
.h2
.h3
.h4
.h5
.h6
    font-family fontFamily
    font-size 130%
    margin 0

.i
    font-style italic

.input-group-addon.input-group-addon-button
    padding 0

    > button
        background none
        border none
        padding paddingInputGroupAddon

.jumbotron
    text-align center

.mono
.step div
div.step
    font-family Menlo, Monaco, Consolas, "Courier New", monospace

.nav > li

    > *
        padding-left 1em
        padding-right 1em

    > a:focus
    > a:hover
        background-color inherit
        text-decoration underline

.nav.navbar-nav > li.open > a
    background-color inherit

.navbar > .container > .navbar-header
    
    > a.navbar-brand
        &:focus
        &:hover
            text-decoration underline

    > button.navbar-toggle
        margin 0
        padding paddingHeader

.navbar-nav > li
    display inline-block
    float none

    > a
        padding paddingHeader

[ng\:cloak]
[ng-cloak]
[data-ng-cloak]
[x-ng-cloak]
.ng-cloak,
.x-ng-cloak
    display none !important

.pad
    padding spacing

.padb
    padding-bottom spacing

.padbt
    padding-bottom spacing
    padding-top spacing

.padl
    padding-left spacing

.padlr
    padding-left spacing
    padding-right spacing

.padn
    padding 0

.padr
    padding-right spacing

.padt
    padding-top spacing

.quote
    color #ccc
    font-family fantasy
    
.quoteperson
    margin-left: 50px;

.right
    text-align right

section
    padding-bottom spacing

small
.small
    color inherit !important

span.multi-line
    display block

    &:empty:before
        content "\200b"

.step
    padding-bottom spacing

.step-argument-name-table-header

    .table-cell
        background-color column1
        border 1px solid column2
        color textColour

.step-argument-value-not-supplied
    color stepArgumentValueNotSupplied
    
.step-argument-value-supplied
    color stepArgumentValueSupplied

.step-argument-value-table-cell
    border 1px solid column2

.step-type
    color stepType

.table
    display table
    margin-bottom inherit
    table-layout fixed
    width 100%

    > .table-row
        display table-row
        
        > .table-cell
            display table-cell
            padding-left spacing
            padding-right spacing
            vertical-align top

.toast-success
    background-color orange

.toast-top-right
    top 70px

.well
    margin-bottom 0

.wellb
    margin-bottom spacing