doctype
html(ng-app='app')
    head
        title(ng-bind="$root.title") Voting App
        base(href="/")
        link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/vendor/ng-sortable/dist/ng-sortable.css")
        link(rel="stylesheet" href="/vendor/toastr/toastr.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed")
    body.ng-cloak
        header.container
            img(ng-src="images/Digital.jpg" class="digial-logo")
        block main-content
        footer.container.text-center
            img(ng-src="images/Hackathon-pic.jpg")
            div(ng-controller="mvVoteCtrl")
        include scripts