div(class="home")
    h1 Hackathon 2017
    span
        img(ng-src="images/allthethings.png")
    h2 Hack all of the things
    input(type="button" class="btn btn-primary" value="Vote" onclick="location.href = '/vote/cast-vote'")